<div id="start" class="container">
    <div class="jumbotron">
        <h1>Start your powerhour now!</h1>
        <p>Grab some beer, gather your friends, and pregame with a powerhour of the best music videos!</p>
        <p>
        <div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="playlistselect" data-toggle="dropdown" aria-expanded="true">
                    {{ defaultPlaylistTitle }} 
                    <span class="caret"></span>
                </button>
                    
                <ul id="startlist" class="dropdown-menu" role="menu" aria-labelledby="startlist">
                </ul>
            </div>    
            <a id="startbutton" class="btn btn-primary btn-lg" href="#" role="button">Start drinking</a>
        </div>
        </p>
    </div>
</div>