{{> controlbar }}

{{> start }}

<div id="screenholder">
  <video id="screen1" class="video-js vjs-default-skin screen hide"
    controls preload="auto" width="100%" height="100vh">
   <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
  <video id="screen2" class="video-js vjs-default-skin screen hide"
    controls preload="auto" width="100%" height="100vh">
   <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>
</div>

<button id="vidcontrol">Pause<br/><span class="glyphicon glyphicon-pause"></span></button>

<div class="overlay"></div>

<script type="text/javascript">
  $( document ).ready(function() {
        
    PH.Playlists.fetchAll().then(function(playlists) {
        PH.Playlists.setPlaylists(playlists);;
    console.log("playlists fetched -- ");
        videos = playlists[1].videos;
        PH.Player.setup();
      //$scope.playbackActive = true;
      //$scope.$digest();
      //playerFunctions.init();
    });
    
  });
</script>

<footer class="footer">
  <div class="container">
      <p>Enjoy your power hour! Drink responsibly.</p>
  </div>
</footer>